In [2]:
import pandas as pd
import numpy as np

In [6]:
df_test = pd.read_csv('test_off.csv')

In [7]:
df_test[df_test['session_id'] == '1d688ec168932']

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,004A07DM0IDW,1d688ec168932,1541555614,1,interaction item image,2059240,CO,"Santa Marta, Colombia",mobile,NaN,NaN,NaN
1,004A07DM0IDW,1d688ec168932,1541555614,2,interaction item image,2059240,CO,"Santa Marta, Colombia",mobile,NaN,NaN,NaN
2,004A07DM0IDW,1d688ec168932,1541555696,3,clickout item,1050068,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...
3,004A07DM0IDW,1d688ec168932,1541555707,4,clickout item,1050068,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...
4,004A07DM0IDW,1d688ec168932,1541555717,5,clickout item,1050068,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...
5,004A07DM0IDW,1d688ec168932,1541555792,6,clickout item,3241426,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...
6,004A07DM0IDW,1d688ec168932,1541555799,7,clickout item,NaN,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...

In [3]:
def explode_position_scalable(df_in, col_expl, pipe='|'):
    """Explode column col_expl of array type into multiple rows."""
    
    n = 60000  #chunk row size
    list_df = [df_in[i:i+n] for i in range(0,df_in.shape[0],n)]
    # Handle the first alone to have the correct headers
    df_x = explode_position(list_df[0], col_expl, flag_conversion=False, pipe_type=pipe)
    df_x = df_x.rename(columns={col_expl:'item_id'})
    df_x.to_csv('exploded.csv', index=False)
    list_df.pop(0)
    for df_x in list_df:
        df_x = explode_position(df_x, col_expl, flag_conversion=False, pipe_type=pipe)
        df_x = df_x.rename(columns={col_expl:'item_id'})
        df_x.to_csv('exploded.csv', mode='a', header=False, index=False)

    df_out = pd.read_csv('exploded.csv')

    os.remove('exploded.csv')
    return df_out
  
def explode_position(df_in, col_expl, flag_conversion = True, pipe_type='|'):
    """Explode column col_expl of array type into multiple rows."""

    df = df_in.copy()
    if(pipe_type== '|'):
        df.loc[:, col_expl] = df[col_expl].apply(string_to_array)
    elif(pipe_type==' '):
        df.loc[:, col_expl] = df[col_expl].apply(space_to_array)
    df.loc[:, 'position'] = df[col_expl].apply(get_position)
    df_out = pd.DataFrame(
        {col: np.repeat(df[col].values,
                        df[col_expl].str.len())
         for col in df.columns.drop(col_expl)}
    )
    df_out.loc[:, col_expl] = np.concatenate(df[col_expl].values)
    df_out.loc[:, 'position'] = np.concatenate(df['position'].values)
    if(flag_conversion):
        df_out.loc[:, col_expl] = df_out[col_expl].apply(int)

    return df_out
  
def string_to_array(s):
    """Convert pipe separated string to array."""

    if isinstance(s, str):
        out = s.split("|")
    elif math.isnan(s):
        out = []
    else:
        raise ValueError("Value must be either string of nan")
    return out
  
def get_position(l):
    pos = []
    for i in range(0,len(l)):
        pos.append(i)
    return pos

def create_recent_index(df_orig, grouped=False):
    df_list_int = df_orig.groupby('session_id').apply(lambda x: get_list_session_interactions(x)).reset_index(name='all_interactions')
    df_list_int = df_list_int[['session_id', 'all_interactions']]
    if(grouped):
        return df_list_int
    df_orig = (df_orig.merge(df_list_int, left_on=['session_id'], right_on=['session_id'], how="left"))
    #del df_orig['all_interactions']
    return df_orig
  
def get_list_session_interactions(group):
    group = group[~group['reference'].isnull()]
    group.loc[:,'reference'] = group['reference'].apply(str)
    list_values = group.reference.drop_duplicates()
    joined = " ".join(list_values)
    return joined

def get_submission_target(df):
    """Identify target rows with missing click outs."""

    mask = df["reference"].isnull() & (df["action_type"] == "clickout item")
    df_out = df[mask]

    return df_out

In [4]:
def get_clickouts(df_test):
    df_test['step_max'] = df_test.groupby(['user_id'])['step'].transform(max)
    df_clickout = df_test[(df_test['step_max'] == df_test['step']) & (df_test['action_type'] == 'clickout item')]
    del df_clickout['step_max']
    return df_clickout

In [62]:
mask = (df_test["action_type"] == "clickout item") | (df_test["action_type"] == "interaction item rating") | (df_test["action_type"] == "interaction item image") | (df_test["action_type"] == "interaction item deals")
df_test = df_test[mask]

In [63]:
df_recent = create_recent_index(df_test)
df_recent

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,all_interactions
0,004A07DM0IDW,1d688ec168932,1541555614,1,interaction item image,2059240,CO,"Santa Marta, Colombia",mobile,NaN,NaN,NaN,2059240 1050068 3241426
1,004A07DM0IDW,1d688ec168932,1541555614,2,interaction item image,2059240,CO,"Santa Marta, Colombia",mobile,NaN,NaN,NaN,2059240 1050068 3241426
2,004A07DM0IDW,1d688ec168932,1541555696,3,clickout item,1050068,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...,2059240 1050068 3241426
3,004A07DM0IDW,1d688ec168932,1541555707,4,clickout item,1050068,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...,2059240 1050068 3241426
4,004A07DM0IDW,1d688ec168932,1541555717,5,clickout item,1050068,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...,2059240 1050068 3241426
5,004A07DM0IDW,1d688ec168932,1541555792,6,clickout item,3241426,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...,2059240 1050068 3241426
6,004A07DM0IDW,1d688ec168932,1541555799,7,clickout item,NaN,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...,2059240 1050068 3241426
7,009RGHI3G9A3,f05ab0de907e2,1541570940,2,clickout item,NaN,IN,"Nathdwara, India",mobile,NaN,10884872|7065316,64|28,
8,00Y1Z24X8084,26b6d294d66e7,1541651766,1,clickout item,3843244,PH,"Iloilo City, Philippines",mobile,NaN,2714480|4476010|3843244|3833012|9017890|198100...,74|14|22|38|55|44|28|34|23|27|12|108|19|21|36|...,3843244
9,00Y1Z24X8084,26b6d294d66e7,1541651823,2,clickout item,NaN,PH,"Iloilo City, Philippines",mobile,NaN,2714480|4476010|3843244|3833012|9017890|198100...,74|14|22|38|55|44|28|34|23|27|12|108|19|21|36|...,3843244
10,01V3WDTDM5CU,07628a0f5be0b,1541575516,4,clickout item,2817590,PL,"Wisla, Poland",mobile,Sort by Price,3565720|2947584|4115018|2039671|3836538|801409...,16|18|20|21|22|22|28|28|28|30|30|33|33|35|35|3...,2817590
11,01V3WDTDM5CU,07628a0f5be0b,1541575643,5,clickout item,NaN,PL,"Wisla, Poland",mobile,Sort by Price,3565720|2947584|4115018|2039671|3836538|801409...,16|18|20|21|22|22|28|28|28|30|30|33|33|35|35|3...,2817590
12,02AOAVF9PVYH,4a01c3afbc224,1541680083,2,interaction item image,552311,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
13,02AOAVF9PVYH,4a01c3afbc224,1541680083,3,interaction item image,552311,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
14,02AOAVF9PVYH,4a01c3afbc224,1541680085,4,interaction item image,552311,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
15,02AOAVF9PVYH,4a01c3afbc224,1541680096,5,interaction item image,552311,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
16,02AOAVF9PVYH,4a01c3afbc224,1541680261,8,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
17,02AOAVF9PVYH,4a01c3afbc224,1541680261,9,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
18,02AOAVF9PVYH,4a01c3afbc224,1541680271,10,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
19,02AOAVF9PVYH,4a01c3afbc224,1541680271,11,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
20,02AOAVF9PVYH,4a01c3afbc224,1541680271,12,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
21,02AOAVF9PVYH,4a01c3afbc224,1541680271,13,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
22,02AOAVF9PVYH,4a01c3afbc224,1541680271,14,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
23,02AOAVF9PVYH,4a01c3afbc224,1541680271,15,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
24,02AOAVF9PVYH,4a01c3afbc224,1541680271,16,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
25,02AOAVF9PVYH,4a01c3afbc224,1541680271,17,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
26,02AOAVF9PVYH,4a01c3afbc224,1541680271,18,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
27,02AOAVF9PVYH,4a01c3afbc224,1541680281,19,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
28,02AOAVF9PVYH,4a01c3afbc224,1541680281,20,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
29,02AOAVF9PVYH,4a01c3afbc224,1541680281,21,interaction item image,749491,JP,"Yokohama, Japan",desktop,NaN,NaN,NaN,552311 749491 7304020 6639820 1177542 693591 1...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3203055,ZXGCLNDBW84E,e73c90b6f448e,1541696836,448,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203056,ZXGCLNDBW84E,e73c90b6f448e,1541696836,449,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203057,ZXGCLNDBW84E,e73c90b6f448e,1541696836,450,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203058,ZXGCLNDBW84E,e73c90b6f448e,1541696836,451,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203059,ZXGCLNDBW84E,e73c90b6f448e,1541696836,452,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203060,ZXGCLNDBW84E,e73c90b6f448e,1541696836,453,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203061,ZXGCLNDBW84E,e73c90b6f448e,1541696846,454,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203062,ZXGCLNDBW84E,e73c90b6f448e,1541696846,455,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203063,ZXGCLNDBW84E,e73c90b6f448e,1541696846,456,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203064,ZXGCLNDBW84E,e73c90b6f448e,1541696846,457,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203065,ZXGCLNDBW84E,e73c90b6f448e,1541696846,458,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203066,ZXGCLNDBW84E,e73c90b6f448e,1541696846,459,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203067,ZXGCLNDBW84E,e73c90b6f448e,1541696846,460,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203068,ZXGCLNDBW84E,e73c90b6f448e,1541696846,461,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203069,ZXGCLNDBW84E,e73c90b6f448e,1541696846,462,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203070,ZXGCLNDBW84E,e73c90b6f448e,1541696846,463,interaction item image,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,NaN,NaN,916029 1668443 2024423 1650015 1326068 478656 ...
3203071,ZXGCLNDBW84E,e73c90b6f448e,1541696851,464,clickout item,1668425,BR,"Porto Seguro, Brazil",desktop,NaN,1704073|2159352|2780354|1668443|2030611|103162...,78|71|46|36|28|40|50|20|37|29|51|33|80|51|78|7...,916029 1668443 2024423 1650015 1326068 478656 ...
3203072,ZXGCLNDBW84E,e73c90b6f448e,1541699223,465,clickout item,916029,BR,"Porto Seguro, Brazil",desktop,NaN,916029|1650015|326846|503361|1326068|477936|38...,60|81|140|171|49|42|38|60|57|74|191|71|55|45|5...,916029 1668443 2024423 1650015 1326068 478656 ...
3203073,ZXGCLNDBW84E,e73c90b6f448e,1541699269,466,clickout item,NaN,BR,"Porto Seguro, Brazil",desktop,NaN,916029|1650015|326846|503361|1326068|477936|38...,60|81|140|171|49|42|38|60|57|74|191|71|55|45|5...,916029 1668443 2024423 1650015 1326068 478656 ...
3203074,ZXGCLNDBW84E,53cb30d7ca9c6,1541703038,4,clickout item,477936,BR,"Porto Seguro, Brazil",desktop,NaN,477936|1326068|1668443|503361|1886269|478656|5...,42|49|36|170|40|45|38|140|60|57|75|53|153|71|6...,477936
3203075,ZYG4MMKT847V,0f128fd98b4e3,1541634383,2,interaction item image,1089752,BR,"Resende, Brazil",mobile,NaN,NaN,NaN,1089752
3203076,ZYG4MMKT847V,0f128fd98b4e3,1541634383,3,interaction item image,1089752,BR,"Resende, Brazil",mobile,NaN,NaN,NaN,1089752
3203077,ZYG4MMKT847V,0f128fd98b4e3,1541634384,4,clickout item,NaN,BR,"Resende, Brazil",mobile,NaN,1089752|4103676|2033145|2684451|2053814|279089...,86|82|86|40|92|56|83|54|145|114|58|67|40|87|46...,1089752
3203078,ZYMVSZ5A3KQI,8cd16c29b733b,1541695019,2,clickout item,NaN,US,"Holiday City, USA",mobile,NaN,364796|1299248|4891790|381296|1345175|9647370,92|52|92|89|59|275,
3203079,ZZ39YE45SZIE,f5db4092ec9fc,1541551888,2,interaction item image,2849116,HK,"Taitung City, Taiwan",mobile,NaN,NaN,NaN,2849116
3203080,ZZ39YE45SZIE,f5db4092ec9fc,1541551888,3,interaction item image,2849116,HK,"Taitung City, Taiwan",mobile,NaN,NaN,NaN,2849116
3203081,ZZ39YE45SZIE,f5db4092ec9fc,1541551891,4,clickout item,2849116,HK,"Taitung City, Taiwan",mobile,NaN,9925140|2625125|5779140|7365168|5849342|198775...,219|215|183|215|590|70|131|111|64|65|127|94|64...,2849116
3203082,ZZ39YE45SZIE,f5db4092ec9fc,1541551899,5,interaction item image,2849116,HK,"Taitung City, Taiwan",mobile,NaN,NaN,NaN,2849116
3203083,ZZ39YE45SZIE,f5db4092ec9fc,1541551945,6,clickout item,NaN,HK,"Taitung City, Taiwan",mobile,NaN,9925140|2625125|5779140|7365168|5849342|198775...,219|215|183|215|590|70|131|111|64|65|127|94|64...,2849116
3203084,ZZCM39YKI3NR,6226bde1465e7,1541601178,1,clickout item,NaN,IT,"Dublin, Ireland",mobile,NaN,46149|109974|46119|8333280|12455|1185556|84002...,138|138|156|153|128|202|145|137|105|68|133|167...,

In [64]:
def complete_prediction(df_test_nation):
    df_test_nation['item_recommendations'] = df_test_nation.apply(lambda x: fill_recs(x.impressions), axis=1)
    #print('No prediction for #' + str(df_missed.shape[0]) + 'items')
    df_out_nation = df_test_nation[['user_id', 'session_id', 'timestamp','step', 'item_recommendations']]
    return df_out_nation

def list_to_space_string(l):
    """Return a space separated string from a list"""
    s = " ".join(l)
    return s

def fill_recs(imp):
    l = imp.split('|')
    return list_to_space_string(l)

In [74]:
def complete_prediction_recent(df):
    df['item_recommendations'] = df.apply(lambda x: concat_interactions(x), axis=1)
    df_out = df[['user_id', 'session_id', 'timestamp','step', 'item_recommendations']]
    return df_out

def concat_interactions(row):
    spl_int = row.all_interactions.split(' ')
    spl_int = spl_int[::-1]
    spl_imp = row.impressions.split('|')
    result = []
    for i in spl_int:
        result.append(str(i))
    for i in spl_imp:
        if(str(i) not in result):
            result.append(str(i))
    return " ".join(result)

In [66]:
df_sub = get_submission_target(df_recent)

In [76]:
df_predicted = df_sub[df_sub['all_interactions'] != '']
df_not_predicted = df_sub[df_sub['all_interactions'] == '']

In [77]:
df_not_predicted = complete_prediction(df_not_predicted)
df_not_predicted.head()

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,user_id,session_id,timestamp,step,item_recommendations
7,009RGHI3G9A3,f05ab0de907e2,1541570940,2,10884872 7065316
285,05BAHQHA5RCI,9f279162e8d5c,1541633993,5,2755290 14054 10243166 3498770 726906 2616752 ...
391,09X618WIVTP3,b1935d2a43d5e,1541688108,3,1120687 2165594 5763948 519501 595286 3386520 ...
438,0BZN2KFMHLZF,d9497eeb946dc,1541668916,1,39730 133101 39758 7029236 455086 3887112 1070...
479,0D1XFBRWUX7Z,35e873299a45f,1541586069,1,54865 54803 54953 14211 95510 54838 54794 1484...

In [78]:
df_predicted = complete_prediction_recent(df_predicted)
df_predicted

/usr/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,user_id,session_id,timestamp,step,item_recommendations
6,004A07DM0IDW,1d688ec168932,1541555799,7,3241426 1050068 2059240 2033381 1724779 127131...
9,00Y1Z24X8084,26b6d294d66e7,1541651823,2,3843244 2714480 4476010 3833012 9017890 198100...
11,01V3WDTDM5CU,07628a0f5be0b,1541575643,5,2817590 3565720 2947584 4115018 2039671 383653...
50,02AOAVF9PVYH,4a01c3afbc224,1541681278,46,1177554 693591 1177542 6639820 7304020 749491 ...
94,0339C84S24ET,89171d441a304,1541615683,36,37717 8160620 4957186 13361 5647680 116764 898...
96,0386OH8JDE1Q,e09591d07cdef,1541620536,2,5488246 1193320 3858774 4552034 10620372 22696...
98,03LTH89QY623,7663406cf586c,1541554183,4,59566 241961 906477 991561 353701 1149665 7725...
120,03VT0ODUTZB0,725e8adf70e86,1541632490,23,322491 1070666 109938 164193 632366 1362450 16...
284,03XH0JWCWHAM,73f4c417ff730,1541566143,176,6452022 42618 42858 6298428 3148690 43133 5762...
306,062OG5L9831R,289b34a2bb4dd,1541663105,21,9914686 8474478 5828606 6618430 7828086 922547...
317,06OT6WXN246O,ca92389e5ea65,1541688448,14,9984412 5480450 4667086 3152528 4341286 560147...
326,08GEUYKFOOPX,83ce8ea2a61b4,1541643155,30,4907350 1351800 5111312 4574362 3818266 254759...
388,091L4C793B1J,49816a95c986a,1541625659,63,2504828 2578276 511676 2344190 1652507 3242334...
390,09K0CO8F5AXJ,ccaf5005ee842,1541693719,2,6578 6605 2270374 12959 6576 1622837 4122274 1...
428,09YREZJA9YH3,572801ee070f0,1541688494,42,4493250 8755832 2032775 491891 1886115 3877836...
435,0A30V2M11MDK,dc8ded19d1781,1541689101,16,50136 48426 4319698 362746 48572 48885 49747 8...
437,0A8YWBYRBRTP,d29141ddbd43f,1541623589,2,43495 43652 44038 43503 44682 43765 43359 4361...
471,0CN5A7BJZRGW,0b105be325b12,1541657496,33,998041 1389106 1400686 2216204 2394112 2817576...
478,0D1M41K80XJ1,7567cae385981,1541660443,7,2269838 1833415 1439759 211041 1331323 923995 ...
519,0DHC2FF92LFS,b4b881ddb91e0,1541601665,40,9234738 2941400 109119 109118 1018349 2846590 ...
527,0HQM42M23DRC,b126adad339fe,1541580854,2,12688 12669 12694 12695 12712 46272 47101 4808...
534,0I20KCPKN010,f7529e581ca06,1541579052,8,4521488 1401168 1522957 6686816 1133827 265670...
586,0J02N1PV2F7U,5caef301b61c5,1541600100,63,1976583 10595926 10596260 5960282 2661038 8178...
588,0KUI1NN03SJT,ef3de41013dc9,1541588206,2,46462 8254824 2529342 6230236 6535552 46686 18...
696,0LDPAF4IYVK4,5862212ab8611,1541641772,114,75449 1322603 64553 15580 60865 56446 610931 9...
699,0M88URLII445,d70b87505f218,1541613013,4,9885320 6453690 99481 153200 930065 1117713 11...
705,0MQS09UWZ4TU,d80dc1f57e556,1541616687,5,513401 1700081 479176 1496061 1045504 1627077 ...
707,0NHTKUW83M02,1ce5090e871db,1541601021,5,1592969 1946693 6438014 2795957 4398184 158926...
733,0NV4W83NJ411,01ee556c5f624,1541571492,25,103562 103670 103600 103595 103633 4488068 188...
773,0OPI22DCY9N6,a67e7e91205e9,1541697878,39,4030032 493996 1650929 2707574 122383 3056634 ...
...,...,...,...,...,...
3202211,YODY4J349H84,87234e9ae1cb4,1541679268,18,1372376 127270 80766 39024 1332520 1360689 662...
3202213,YPG041T28QBK,3ec0a86489d93,1541612943,4,3061437 2862270 1585273 1238554 690316 2211940...
3202228,YQPTVOX79RZ0,1fac66b3a002d,1541558993,7,68188 6855066 3842300 57808 5211186 68187 5944...
3202352,YS3FLB5P575R,6440175fa677d,1541685763,148,93311 154078 2254964 106958 93245 93318 93268 ...
3202355,YSD1A103Q1A9,6ab62ceba5600,1541708733,6,4241044 6465082 3568642 3869986 890743 95009 1...
3202360,YV375ZHBD5GR,9974334ac3ac0,1541560830,4,44088 2257664 43620 3053490 44351 124162 44165...
3202362,YVI3ROII5HX1,7dc90896c0ff9,1541680505,9,2634014 478266 97601 479071 5806894 847431 479...
3202373,YXRHSL1LKNK1,b45aa1f490fe7,1541659382,11,5161942 8128208 2773834 1979453 9651516 294138...
3202409,Z0P2YK9W3MO9,82e2fc2d03490,1541720863,42,153507 5742328 3807480 42613 4762502 7180850 4...
3202411,Z2RZB8Q91185,cabb78b496276,1541665565,3,3874754 4083618 8160620 3146714 1548549 152689...
3202416,Z3I0IZ4I9AB0,3a38048456627,1541623582,6,3904512 2242038 104639 5594652 5660226 477996 ...
3202425,Z3OX6HDE14Y8,334b6a10cce13,1541607701,13,5547 1386614 5583 5611 15993 5673 2270528 1104...
3202442,Z3UDX82C48HK,21981a2658e1c,1541630071,17,14348 223751 16626 16243 2241532 51016 51411 1...
3202444,Z3X7FGQV8DLZ,afb85a31ceff8,1541703091,3,2026501 2032009 9906640 8105540 10595106 10048...
3202475,Z5HHW9GPWTVI,42642e9b52a8d,1541636572,31,6475490 2579644
3202481,Z6UH5S6YCFGU,0de3309ea3315,1541625537,3,2593971 2793224 8621 1810141 32727 77124 89392...
3202494,Z8R3PNWG66WC,037d21739ccad,1541672836,14,3583444 1719593 3152692 4345706 3154396 42101 ...
3202512,ZG9YRVARN8VE,7cc8c6b3f4a97,1541714873,16,3066968 3215419 2828636 1796789 2441706 271802...
3202514,ZI483FNQTFE5,da06f0c5c4e27,1541664029,2,4530384 9757680 9378320 99502 9661068 9618174 ...
3202521,ZKABS031TSS3,82a1d6694e8fd,1541687528,9,1342604 10852272 67730 387646 10472726 381376 ...
3202525,ZLZR6ZVNT61X,86632d06943ef,1541686280,4,94524 37792 486686 94540 13103 96162 863116 97...
3202542,ZN0MI3V8DU6I,eec026e9dd8d9,1541560976,18,393276 2506754 374956 620556 5964090 7846536 2...
3202554,ZOO280YM822I,d6a2d7a9d5711,1541554261,14,8301508 80289 2589060 2773384 3530240 5587842 ...
3202556,ZPII0N59F3R2,e341ad089f472,1541671799,2,102361 3757476 6596362 104092 6299792 2081670 ...
3202558,ZQDEMN3TBJ58,a60ba6624628a,1541639908,18,5974306 104594 104867 104889 1162971 1201630 1...
3202605,ZVTSO44R1US2,ba077694ccf39,1541673409,49,494271 5863172 1042070 103453 9327438 2111024 ...
3202610,ZWB59UGA2UUY,6f5d6ebfe10b5,1541558109,4,101409 101389 101381 95870 3484802 101373 1945...
3203073,ZXGCLNDBW84E,e73c90b6f448e,1541699269,466,1668425 1953137 5179118 2341478 477936 4634926...
3203077,ZYG4MMKT847V,0f128fd98b4e3,1541634384,4,1089752 4103676 2033145 2684451 2053814 279089...
3203083,ZZ39YE45SZIE,f5db4092ec9fc,1541551945,6,2849116 9925140 2625125 5779140 7365168 584934...

In [3]:
df_out = pd.concat([df_predicted, df_not_predicted], ignore_index=True, sort=False)
df_out.to_csv('sub_rule_based.csv')

NameError: name 'df_predicted' is not defined

In [80]:
df_out.head()

,user_id,session_id,timestamp,step,item_recommendations
0,004A07DM0IDW,1d688ec168932,1541555799,7,3241426 1050068 2059240 2033381 1724779 127131...
1,00Y1Z24X8084,26b6d294d66e7,1541651823,2,3843244 2714480 4476010 3833012 9017890 198100...
2,01V3WDTDM5CU,07628a0f5be0b,1541575643,5,2817590 3565720 2947584 4115018 2039671 383653...
3,02AOAVF9PVYH,4a01c3afbc224,1541681278,46,1177554 693591 1177542 6639820 7304020 749491 ...
4,0339C84S24ET,89171d441a304,1541615683,36,37717 8160620 4957186 13361 5647680 116764 898...

In [54]:
df_out[df_out['user_id'] == '000GO9NY6P4M']

,user_id,session_id,timestamp,step,item_recommendations
248422,000GO9NY6P4M,55dbafdbb9bab,1541594662,2,157710 1287958 160577 1618677 7231396 319866 4...

In [18]:
df_predicted.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices,all_interactions
6,004A07DM0IDW,1d688ec168932,1541555799,7,clickout item,NaN,CO,"Santa Marta, Colombia",mobile,NaN,2059240|2033381|1724779|127131|399441|103357|1...,70|46|48|76|65|65|106|66|87|43|52|44|60|61|50|...,2059240 1050068 3241426
9,00Y1Z24X8084,26b6d294d66e7,1541651823,2,clickout item,NaN,PH,"Iloilo City, Philippines",mobile,NaN,2714480|4476010|3843244|3833012|9017890|198100...,74|14|22|38|55|44|28|34|23|27|12|108|19|21|36|...,3843244
11,01V3WDTDM5CU,07628a0f5be0b,1541575643,5,clickout item,NaN,PL,"Wisla, Poland",mobile,Sort by Price,3565720|2947584|4115018|2039671|3836538|801409...,16|18|20|21|22|22|28|28|28|30|30|33|33|35|35|3...,2817590
50,02AOAVF9PVYH,4a01c3afbc224,1541681278,46,clickout item,NaN,JP,"Yokohama, Japan",desktop,Hotel|Resort|Sort by Price,1451247|559056|1045096|1963879|693596|1967173|...,80|81|81|82|82|82|83|83|83|85|85|88|88|91|92|9...,552311 749491 7304020 6639820 1177542 693591 1...
94,0339C84S24ET,89171d441a304,1541615683,36,clickout item,NaN,TR,"Antalya, Turkey",mobile,NaN,13361|5647680|116764|898719|8276346|9168|19325...,185|84|30|19|46|77|123|23|25|25|26|39|73|56|96...,4957186 8160620 37717

In [4]:
df_t = pd.read_csv('sub_rule_based.csv')
df_t.head()

,Unnamed: 0,user_id,session_id,timestamp,step,item_recommendations
0,0,004A07DM0IDW,1d688ec168932,1541555799,7,3241426 1050068 2059240 2033381 1724779 127131...
1,1,00Y1Z24X8084,26b6d294d66e7,1541651823,2,3843244 2714480 4476010 3833012 9017890 198100...
2,2,01V3WDTDM5CU,07628a0f5be0b,1541575643,5,2817590 3565720 2947584 4115018 2039671 383653...
3,3,02AOAVF9PVYH,4a01c3afbc224,1541681278,46,1177554 693591 1177542 6639820 7304020 749491 ...
4,4,0339C84S24ET,89171d441a304,1541615683,36,37717 8160620 4957186 13361 5647680 116764 898...

In [ ]:
df_t[df_t['user_id'] == '004A07DM0IDW']

In [50]:
df_out.shape[0]

253573

In [51]:
df_t.shape[0]

152343

In [56]:
df_t[df_t['user_id'] == '000GO9NY6P4M']

,Unnamed: 0,user_id,session_id,timestamp,step,item_recommendations
248422,248422,000GO9NY6P4M,55dbafdbb9bab,1541594662,2,157710 1287958 160577 1618677 7231396 319866 4...

In [16]:
df_gt = pd.read_csv('gt.csv')
mask = (df_gt["action_type"] == "clickout item") | (df_gt["action_type"] == "interaction item rating") | (df_gt["action_type"] == "interaction item image") | (df_gt["action_type"] == "interaction item deals")
df_gt = df_gt[mask]
df_gt.head()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
16,03P4VFKK12UO,325fafb5fa450,1541107435,17,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
17,03P4VFKK12UO,325fafb5fa450,1541107435,18,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
18,03P4VFKK12UO,325fafb5fa450,1541107457,19,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
19,03P4VFKK12UO,325fafb5fa450,1541107457,20,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
20,03P4VFKK12UO,325fafb5fa450,1541107467,21,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN

In [17]:
df_gt[df_gt['user_id'] == '03P4VFKK12UO']

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
16,03P4VFKK12UO,325fafb5fa450,1541107435,17,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
17,03P4VFKK12UO,325fafb5fa450,1541107435,18,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
18,03P4VFKK12UO,325fafb5fa450,1541107457,19,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
19,03P4VFKK12UO,325fafb5fa450,1541107457,20,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
20,03P4VFKK12UO,325fafb5fa450,1541107467,21,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
21,03P4VFKK12UO,325fafb5fa450,1541107467,22,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
22,03P4VFKK12UO,325fafb5fa450,1541107467,23,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
23,03P4VFKK12UO,325fafb5fa450,1541107467,24,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
24,03P4VFKK12UO,325fafb5fa450,1541107467,25,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
25,03P4VFKK12UO,325fafb5fa450,1541107467,26,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
26,03P4VFKK12UO,325fafb5fa450,1541107467,27,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
27,03P4VFKK12UO,325fafb5fa450,1541107467,28,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
28,03P4VFKK12UO,325fafb5fa450,1541107467,29,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
29,03P4VFKK12UO,325fafb5fa450,1541107477,30,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
30,03P4VFKK12UO,325fafb5fa450,1541107477,31,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
31,03P4VFKK12UO,325fafb5fa450,1541107477,32,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
32,03P4VFKK12UO,325fafb5fa450,1541107477,33,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
33,03P4VFKK12UO,325fafb5fa450,1541107487,34,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
34,03P4VFKK12UO,325fafb5fa450,1541107487,35,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
35,03P4VFKK12UO,325fafb5fa450,1541107487,36,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
36,03P4VFKK12UO,325fafb5fa450,1541107487,37,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
37,03P4VFKK12UO,325fafb5fa450,1541107487,38,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
38,03P4VFKK12UO,325fafb5fa450,1541107487,39,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
39,03P4VFKK12UO,325fafb5fa450,1541107487,40,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
40,03P4VFKK12UO,325fafb5fa450,1541107487,41,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
41,03P4VFKK12UO,325fafb5fa450,1541107487,42,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
42,03P4VFKK12UO,325fafb5fa450,1541107487,43,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
43,03P4VFKK12UO,325fafb5fa450,1541107487,44,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
44,03P4VFKK12UO,325fafb5fa450,1541107497,45,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
45,03P4VFKK12UO,325fafb5fa450,1541107497,46,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
46,03P4VFKK12UO,325fafb5fa450,1541107497,47,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
47,03P4VFKK12UO,325fafb5fa450,1541107497,48,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
48,03P4VFKK12UO,325fafb5fa450,1541107497,49,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
49,03P4VFKK12UO,325fafb5fa450,1541107497,50,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
50,03P4VFKK12UO,325fafb5fa450,1541107497,51,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
51,03P4VFKK12UO,325fafb5fa450,1541107497,52,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
52,03P4VFKK12UO,325fafb5fa450,1541107497,53,interaction item image,65685,US,"Bakersfield, USA",desktop,NaN,NaN,NaN
53,03P4VFKK12UO,325fafb5fa450,1541107500,54,clickout item,65685,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,1306936|56482|2842358|6881276|65685|63259|6539...,178|104|110|94|57|96|46|61|48|35|50|38|59|44|5...
54,03P4VFKK12UO,325fafb5fa450,1541107538,55,clickout item,1320460,US,"Bakersfield, USA",desktop,Very Good Rating|5 Star|4 Star|Hotel|Motel|Res...,1306936|56482|2842358|6881276|65685|63259|6539...,178|104|110|94|57|96|46|61|48|35|50|38|59|44|5...